<% if @stock %>
  <div class="card card-header">
    <strong>Symbol: <%= @stock.ticker %></strong>
    <strong>Name: <%= @stock.name %></strong>
    <strong>Price: <%= @stock.last_price %></strong>
  </div>
<% end %>
<%=render 'layouts/messages' %>
